<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/carousel-reviews-body/carousel-reviews-body.scss' />

<div class="banner-with-carousel-logo">
	<div class="bubble-animation">
		<div class="item item-4" style="">
			<div class="animation-dialog__img">
				<picture class="vv-visual image --img-component">
					<source media="(orientation: landscape)"
						srcset="https://sendbird.imgix.net/cms/1.webp?wm=webp 1920w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=1440 1440w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=1024 1024w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=768 768w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=425 425w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=210 210w">
					<source media="(orientation: portrait)"
						srcset="https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=900 900w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=768 768w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=425 425w, https://sendbird.imgix.net/cms/1.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=210 210w">
					<img src="https://sendbird.imgix.net/cms/1.webp?wm=webp" alt="1" loading="eager" fetchpriority="high" width="900" height="282" data-origin-width="1901" data-origin-height="596" class="vv-asset vv-image"
						style="object-fit:cover;object-position:50% 50%">
				</picture>
			</div>
		</div>
		<div class="item item-3" style="">
			<div class="animation-dialog__img">
				<picture class="vv-visual image --img-component">
					<source media="(orientation: landscape)"
						srcset="https://sendbird.imgix.net/cms/2.webp?wm=webp 1920w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=1440 1440w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=1024 1024w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=768 768w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=425 425w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=210 210w">
					<source media="(orientation: portrait)"
						srcset="https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=900 900w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=768 768w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=425 425w, https://sendbird.imgix.net/cms/2.webp?auto=compress&amp;wm=webp&amp;lossless=0&amp;fit=crop&amp;w=210 210w">
					<img src="https://sendbird.imgix.net/cms/2.webp?wm=webp" alt="2" loading="eager" fetchpriority="high" width="900" height="272" data-origin-width="1907" data-origin-height="577" class="vv-asset vv-image"
						style="object-fit:cover;object-position:50% 50%">
				</picture>
			</div>
		</div>
		<div class="item item-1" style="">
			<div class="animation-dialog__img">
				<picture class="vv-visual image --img-component">
					<source media="(orientation: landscape)" srcset="https://sendbird.imgix.net/cms/4_2025-02-12-101014_xflx.svg">
					<source media="(orientation: portrait)" srcset="https://sendbird.imgix.net/cms/4_2025-02-12-101014_xflx.svg"> <img src="https://sendbird.imgix.net/cms/4_2025-02-12-101014_xflx.svg" alt="4" loading="eager" fetchpriority="high"
						width="335" height="103" data-origin-width="335" data-origin-height="103" class="vv-asset vv-image" style="object-fit:cover;object-position:50% 50%">
				</picture>
			</div>
		</div>
	</div>
</div>



<!-- <div class="card-review item item-4" data-flip-id="auto-108">
	<div class="card-review__header">
		<div class="card-review__profile profile-review">
			<div class="profile-review__avatar">
				<img src="@i/reviews/avatar02.jpg" loading="lazy" width="48" height="48" alt="Taylor G">
			</div>
			<div class="profile-review__body">
				<span class="profile-review__name">Andrew Catch</span>
				<span class="profile-review__profession">@andrewcatch</span>
			</div>
		</div>
		<div class="rating">
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
		</div>
	</div>
	<blockquote class="card-review__quote">“I’ve been through programs before, but RD was different. They actually cared about my mental health, not just the substance use.”</blockquote>
</div>
<div class="card-review item item-3" data-flip-id="auto-107">
	<div class="card-review__header">
		<div class="card-review__profile profile-review">
			<div class="profile-review__avatar">
				<img src="@i/reviews/avatar03.jpg" loading="lazy" width="48" height="48" alt="Nick Gramm">
			</div>
			<div class="profile-review__body">
				<span class="profile-review__name">Nick Gramm</span>
				<span class="profile-review__profession">@nickgramm</span>
			</div>
		</div>
		<div class="rating">
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
		</div>
	</div>
	<blockquote class="card-review__quote">“As a full-time student, I couldn’t disappear for 30 days. RD worked around my class schedule, and their evening sessions fit perfectly”</blockquote>
</div>
<div class="card-review item item-2" data-flip-id="auto-106">
	<div class="card-review__header">
		<div class="card-review__profile profile-review">
			<div class="profile-review__avatar">
				<img src="@i/reviews/avatar04.jpg" loading="lazy" width="48" height="48" alt="Taylor G">
			</div>
			<div class="profile-review__body">
				<span class="profile-review__name">Mary Stich</span>
				<span class="profile-review__profession">@marystich</span>
			</div>
		</div>
		<div class="rating">
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
		</div>
	</div>
	<blockquote class="card-review__quote">“I’ve dealt with trauma and depression for years. RD’s dual diagnosis program helped me finally connect the dots. The therapists were incredible”</blockquote>
</div>
<div class="card-review item item-1" data-flip-id="auto-105">
	<div class="card-review__header">
		<div class="card-review__profile profile-review">
			<div class="profile-review__avatar">
				<img src="@i/reviews/avatar05.jpg" loading="lazy" width="48" height="48" alt="Taylor G">
			</div>
			<div class="profile-review__body">
				<span class="profile-review__name">Mark Wally</span>
				<span class="profile-review__profession">@markwally</span>
			</div>
		</div>
		<div class="rating">
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
			<div class="rating__item">
				<img src="@i/icons/star.svg" width="15" height="15" alt="star">
			</div>
		</div>
	</div>
	<blockquote class="card-review__quote">“They walked me through insurance, helped build a plan, and got me started in 48 hours. No runaround. Just kindness, honesty, and results”</blockquote>
</div> -->