// .bubble-animation {
// 	align-items: center;
// 	display: flex;
// 	flex-direction: column;
// 	height: 120px;
// 	perspective: 100px;
// 	position: relative;
// 	width: 500px;
// 	margin: 0 auto;
// }

// .bubble-animation .item {
// 	position: absolute;
// 	padding: 13px 26px 13px 13px;
// 	border-radius: 16px;
// 	background: hsla(0, 0%, 100%, 0.8);
// 	border: 1px solid #fff;
// 	box-shadow: 5.727px 20.046px 34.365px 4.296px rgba(33, 33, 33, 0.1);
// 	-webkit-backdrop-filter: blur(12px);
// 	backdrop-filter: blur(12px);
// 	width: 100%;
// 	height: 100%;
// 	z-index: 1;
// 	transition:
// 		transform 0.8s ease,
// 		opacity 0.8s ease,
// 		z-index 0s linear;
// }

// .bubble-animation .item:nth-child(1) {
// 	transform: translateY(0) scale(1);
// 	opacity: 1 !important; /* Явно встановлюємо повну непрозорість */
// 	z-index: 4;
// }

// .bubble-animation .item:nth-child(2) {
// 	transform: translateY(-20px) scale(0.9);
// 	opacity: 0.8;
// 	z-index: 3;
// }

// .bubble-animation .item:nth-child(3) {
// 	transform: translateY(-40px) scale(0.8);
// 	opacity: 0.6;
// 	z-index: 2;
// }

// .bubble-animation .item:nth-child(4) {
// 	transform: translateY(-60px) scale(0.7);
// 	opacity: 0.4;
// 	z-index: 1;
// }

// .bubble-animation .item:nth-child(n + 5) {
// 	display: none;
// }

// .bubble-animation .animation-dialog__img img {
// 	height: 100%;
// 	object-fit: contain !important;
// 	width: 100%;
// }

// /* Адаптивні корективи */
// @media (max-width: 1024px) {
// 	.bubble-animation .item {
// 		min-height: 180px !important;
// 	}
// }

// @media (max-width: 744px) {
// 	.bubble-animation .item {
// 		min-height: 150px !important;
// 	}
// }

// @media (min-width: 744px) {
// 	.bubble-animation {
// 		height: 188px;
// 	}
// 	.bubble-animation .item {
// 		height: 188px;
// 		min-height: 150px !important;
// 	}
// }

.slider {
	position: relative;
	max-width: 400px;
	width: 100%;
	min-height: 200px;
	margin: 0 auto;
	perspective: 100px;
}
.item {
	position: absolute;
	width: 400px !important;
	// min-height: 100px;
	&.card-review {
		background-color: rgba(256, 256, 256, 0.3);
		backdrop-filter: blur(toRem(10));
		opacity: var(--card-opacity, 1);
		padding: toRem(20);
		gap: toRem(16);
		.profile-review__body {
			gap: 0;
		}
		.card-review__header {
			align-items: center;
		}
		.card-review__quote {
			color: var(--primary-text-light-color);
		}
	}
}
