@use "sass:math";

// ============ Params ========================================================

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1238; // (0 = no restriction)
$containerPadding: 32; // (32 = 16px left and right, 0 = no retreat)

// ============ Container =====================================================

$containerWidth: $maxWidthContainer + $containerPadding;
[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: toRem($containerWidth);
		margin: 0 auto;
		width: 100%;
	}
	@if ($containerPadding>0) {
		@if ($maxWidthContainer>0) {
			padding: 0 toRem(math.div($containerPadding, 2));
		} @else {
			@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
			@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
		}
	}
}
[class*="__container_xl"] {
	max-width: toRem(1104) !important;
}
