.can-help-you {
	// .can-help-you__container

	&__container {
	}

	// .can-help-you__body

	&__body {
		display: flex;
		align-items: center;
		gap: toRem(60);
		.image {
			flex: 0 0 50.08%;
			padding-bottom: 37.157%;
		}
		.content {
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(32);
		flex: 1 1 auto;
	}
}
