<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/can-help-you/can-help-you.scss' />

<section class="can-help-you _space-section">
	<div class="can-help-you__container">
		<div class="can-help-you__body">
			<div class="image ibg">
				<img src="@i/image02.jpg" loading="lazy" width="620" height="460" alt="A young girl">
			</div>
			<div class="can-help-you__content">
				<div class="content content_left">
					<div class="label-text">
						<span>What we treat</span>
					</div>
					<h2 class="title">How we can help you</h2>
					<p>We specialize in treating addiction and co-occurring mental health conditions through flexible, outpatient programs. Whether you need intensive daily support or a part-time structure, our team will guide you to the right level
						of
						care — without disrupting your life, work, or family.</p>
				</div>
				<div class="labels-items">
					<include src="@c/UI/button/_button-decor-label.html" locals='{
						"class": "button button_decor  button_decor-label",
						"text": "Substance Use",
						"name": "glass"
					}'>
					</include>
					<include src="@c/UI/button/_button-decor-label.html" locals='{
						"class": "button button_decor  button_decor-label",
						"text": "Depression",
						"name": "smile"
					}'>
					</include>
					<include src="@c/UI/button/_button-decor-label.html" locals='{
						"class": "button button_decor  button_decor-label",
						"text": "Anxiety",
						"name": "smile-2"
					}'>
					</include>
					<include src="@c/UI/button/_button-decor-label.html" locals='{
						"class": "button button_decor  button_decor-label",
						"text": "PTSD & Trauma",
						"name": "heart-puls"
					}'>
					</include>
					<include src="@c/UI/button/_button-decor-label.html" locals='{
						"class": "button button_decor  button_decor-label",
						"text": "Bipolar Disorder",
						"name": "head"
					}'>
					</include>
					<include src="@c/UI/button/_button-decor-label.html" locals='{
						"class": "button button_decor  button_decor-label",
						"text": "Dual Diagnosis",
						"name": "medicine"
					}'>
					</include>
				</div>
			</div>
		</div>
	</div>
</section>