<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/can-help-you/can-help-you.scss' />

<div class="can-help-you">
	<div class="can-help-you__container">
		<div class="can-help-you__body">
			<div class="image ibg">
				<img src="@i/image02.jpg" alt="">
			</div>
			<div class="content content_left">
				<div class="label-text">
					<span>Addiction & mental health recovery</span>
				</div>
				<h2 class="title">How we can help you</h2>
				<p>Flexible outpatient rehab in Richardson, TX that works with your schedule and your insurance.</p>
			</div>
		</div>
	</div>
</div>