.can-help-you {
	// .can-help-you__container

	&__container {
	}

	// .can-help-you__body

	&__body {
		display: flex;
		gap: toRem(60);
		.image {
			flex: 0 0 40%;
			padding-bottom: 100%;
		}
		.content {
			flex: 1 1 auto;
		}
	}
}
