.faq {
	padding-block: toRem(100);
	@media (max-width: $mobile) {
		padding-block: toRem(60);
	}
	&__container {
	}
	.content {
		.button {
			margin-block-start: toRem(20);
		}
		.title {
			@media (max-width: $mobile) {
				br {
					display: none;
				}
			}
		}
	}
}
