<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/facilities/facilities.scss' />


<section class="facilities _space-section">
	<div class="facilities__container facilities__container_xl">
		<div class="facilities__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Facilities</span>
				</div>
				<h2 class="title">More Than a Clinic. <br> <span>Designed for Real Recovery</span></h2>
				<p>Every part of our center is intentionally built to support healing</p>
			</div>
			<div class="facilities-list">
				<div class="facilities-item">
					<div class="facilities-item__body">
						<div class="facilities-item__block">
							<div class="title-block">
								<div class="title-block__number">01</div>
								<h3 class="title-block__title">Group Therapy & Clinical Spaces</h3>
							</div>
							<p>Purposefully designed for therapeutic engagement, emotional safety, and focused healing</p>
						</div>
						<ul class="tags">
							<li>Trauma-informed sessions</li>
							<li>modalities </li>
							<li>Private 1-on-1 counseling pods</li>
							<li>Mindfulness</li>
							<li>stress reduction work</li>
						</ul>
						<div class="facilities-item__block">
							<span class="facilities-item__label">Accepted insurance:</span>
							<ul class="partners-list partners-list_small">
								<li class="partner-item">
									<img src="@i/partners/aetna.svg" width="125" height="44" alt="aetna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/cigna.svg" width="125" height="44" alt="cigna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/united-health-group.svg" width="125" height="44" alt="united health group">
								</li>
								<li class="partner-item">
									<img src="@i/partners/magellan-health.svg" width="125" height="44" alt="magellan health">
								</li>
							</ul>
						</div>
					</div>
					<div class="image ibg">
						<img src="@i/facilities/image01.jpg" loading="lazy" width="500" height="420" alt="image">
					</div>
				</div>
				<div class="facilities-item">
					<div class="facilities-item__body">
						<div class="facilities-item__block">
							<div class="title-block">
								<div class="title-block__number">02</div>
								<h3 class="title-block__title">Community & Recovery Lounge</h3>
							</div>
							<p>Shared spaces that nurture connection and accountability between clients — even outside formal sessions.</p>
						</div>
						<ul class="tags">
							<li>Process groups</li>
							<li>peer-led support</li>
							<li>expressive therapy</li>
							<li>Family engagement zones</li>
							<li>Comfortable relaxation areas</li>
						</ul>
						<div class="facilities-item__block">
							<span class="facilities-item__label">Accepted insurance:</span>
							<ul class="partners-list partners-list_small">
								<li class="partner-item">
									<img src="@i/partners/aetna.svg" width="125" height="44" alt="aetna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/cigna.svg" width="125" height="44" alt="cigna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/united-health-group.svg" width="125" height="44" alt="united health group">
								</li>
								<li class="partner-item">
									<img src="@i/partners/magellan-health.svg" width="125" height="44" alt="magellan health">
								</li>
							</ul>
						</div>
					</div>
					<div class="image ibg">
						<img src="@i/facilities/image02.jpg" loading="lazy" width="500" height="420" alt="image">
					</div>
				</div>
				<div class="facilities-item">
					<div class="facilities-item__body">
						<div class="facilities-item__block">
							<div class="title-block">
								<div class="title-block__number">02</div>
								<h3 class="title-block__title">Community & Recovery Lounge</h3>
							</div>
							<p>Shared spaces that nurture connection and accountability between clients — even outside formal sessions.</p>
						</div>
						<ul class="tags">
							<li>Process groups</li>
							<li>peer-led support</li>
							<li>expressive therapy</li>
							<li>Family engagement zones</li>
							<li>Comfortable relaxation areas</li>
						</ul>
						<div class="facilities-item__block">
							<span class="facilities-item__label">Accepted insurance:</span>
							<ul class="partners-list partners-list_small">
								<li class="partner-item">
									<img src="@i/partners/aetna.svg" width="125" height="44" alt="aetna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/cigna.svg" width="125" height="44" alt="cigna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/united-health-group.svg" width="125" height="44" alt="united health group">
								</li>
								<li class="partner-item">
									<img src="@i/partners/magellan-health.svg" width="125" height="44" alt="magellan health">
								</li>
							</ul>
						</div>
					</div>
					<div class="image ibg">
						<img src="@i/facilities/image03.jpg" loading="lazy" width="500" height="420" alt="image">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>