<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/facilities/facilities.scss' />


<section class="facilities _space-section">
	<div class="facilities__container facilities__container_xl">
		<div class="facilities__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Facilities</span>
				</div>
				<h2 class="title">More Than a Clinic. <br> <span>Designed for Real Recovery</span></h2>
				<p>Every part of our center is intentionally built to support healing</p>
			</div>
			<div class="facilities-list">
				<div class="facilities-item">
					<div class="image ibg">
						<img src="@i/facilities/image01.jpg" loading="lazy" width="500" height="420" alt="image">
					</div>
					<div class="facilities-item__body">
						<div class="title-block">
							<div class="title-block__number">01</div>
							<h3 class="title-block__title">01</h3>
						</div>
						<ul class="tags">
							<li>Trauma-informed sessions</li>
							<li>modalities </li>
							<li>Private 1-on-1 counseling pods</li>
							<li>Mindfulness</li>
							<li>stress reduction work</li>
						</ul>
						<div>
							<span>Accepted insurance:</span>
							<ul class="partners-list partners-list_small">
								<li class="partner-item">
									<img src="@i/partners/aetna.svg" width="125" height="44" alt="aetna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/cigna.svg" width="125" height="44" alt="cigna">
								</li>
								<li class="partner-item">
									<img src="@i/partners/united-health-group.svg" width="125" height="44" alt="united health group">
								</li>
								<li class="partner-item">
									<img src="@i/partners/magellan-health.svg" width="125" height="44" alt="magellan health">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>