.facilities {
	// .facilities__container

	&__container {
	}

	// .facilities__body

	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(56);
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(20);
	}
	.image {
		padding-bottom: 100%;
	}
}
.facilities-list {
}
.facilities-item {
	// .facilities-item__body

	&__body {
	}
}
.image {
}
.ibg {
}
