<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/facilities/facilities.scss' />


<section class="facilities">
	<div class="facilities__container">
		<div class="facilities__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Facilities</span>
				</div>
				<h2 class="title">Got Questions? <br> <span>We've Got You Covered</span></h2>
				<p>Recovery can feel overwhelming — that’s why we make everything clear from the start.</p>
			</div>
		</div>
	</div>
</section>