<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/facilities/facilities.scss' />


<section class="facilities">
	<div class="facilities__container">
		<div class="facilities__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Facilities</span>
				</div>
				<h2 class="title">More Than a Clinic. <br> <span>Designed for Real Recovery</span></h2>
				<p>Every part of our center is intentionally built to support healing</p>
			</div>
		</div>
	</div>
</section>