<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/facilities/facilities.scss' />


<section class="facilities _space-section">
	<div class="facilities__container">
		<div class="facilities__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Facilities</span>
				</div>
				<h2 class="title">More Than a Clinic. <br> <span>Designed for Real Recovery</span></h2>
				<p>Every part of our center is intentionally built to support healing</p>
			</div>
			<div class="facilities-list">
				<div class="facilities-item">
					<div class="facilities-item__image">
						<img src="@i/facilities/image01.jpg" loading="lazy" width="500" height="420" alt="image">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>