.spoiler {
	&__panel {
		.init & {
			cursor: pointer;
			user-select: none;
		}
	}

	&__content {
		transition: all 0s;
		overflow: hidden;

		display: none;

		.init-show &,
		.init-hidden & {
			display: block;
		}

		.init & {
			display: none;
		}

		.init.show & {
			display: block;
		}
	}
}

//  init close
.spoiler.init {
	.spoiler__content {
		& > * {
			transition: opacity 0.5s;
			opacity: 0;
		}
	}
}

// init open
.spoiler.init.spoiler-open {
	.spoiler__content {
		& > * {
			opacity: 1;
		}
	}
}
