:root {
	--ff-icons: "icons";
	--font-primary: "Satoshi";

	--primary-text-color: rgba(0, 0, 0, 0.8);
	--light-text-color: rgba(0, 53, 104, 0.8);
	--light-color: #ecfaff;
	--light-color-300: #dff1f8;
	--light-color-500: #ecfaff;

	--secondary-text-color: #003568;
	--dark-bg-color: #003568;
	--dark-bg-color-300: #084987;
	--main-bg-color: #ecfaff;

	--brand-color: #11d3ac;

	--hover-btn-color: #01af8c;
	--hover-link-color: #01af8c;

	--main-border-radius: 24px;
}
