html,
body {
	scroll-behavior: smooth;
	overscroll-behavior-y: none;
}

html,
body,
.wrapper {
	min-height: 100vh;
	min-height: 100svh;
}

body {
	font-family: var(--font-primary);
	background-color: var(--main-bg-color);
	min-width: 320px;
	line-height: 1.4;
	color: var(--primary-text-color);
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.loaded & {
	}

	// &::-webkit-scrollbar {
	// 	display: none;
	// 	scrollbar-width: none;
	// 	-webkit-overflow-scrolling: touch;
	// 	-ms-overflow-style: none;
	// }
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
}
