.title {
	line-height: 1.1;
	letter-spacing: toRem(-0.8);
	color: var(--secondary-text-color);
	font-weight: 500;
	@include adaptiveValue("font-size", 44, 27, 0, $containerWidth, 375);

	span {
		color: var(--brand-color);
	}
	&_main {
		letter-spacing: toEm(-1.56, 50);
		@include adaptiveValue("font-size", 50, 32, 0, $containerWidth, 767.98);
		@media (max-width: $mobile) {
			font-size: toRem(40);
		}
	}
	&_center {
		text-align: center;
	}
	&_left {
		text-align: left;
	}
	&_white {
		color: white;
	}
	&_xl {
		@include adaptiveValue("font-size", 32, 24, 0, $containerWidth, 375);
	}
	&_xs {
		@include adaptiveValue("font-size", 20, 18, 0, $containerWidth, 375);
		font-weight: 600;
	}
	&_600 {
		font-weight: 600;
	}
}
