<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/comparison/comparison.scss' />


<section class="comparison _space-section">
	<div class="comparison__container">
		<div class="comparison__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Comparison</span>
				</div>
				<h2 class="title">Treatment Centers <br> <span>Are Not Equal</span></h2>
				<p>Here's how RD stands out with personalized care, real <br> results, and support you can feel.</p>
			</div>
			<div class="table">
				<div class="table__row">
					<span></span>
					<span class="table__small-text">Feature</span>
					<span class="table__small-text table__small-text_dark">Our Rehab</span>
					<span class="table__small-text">Others</span>
				</div>
				<div class="table__row">
					<span class="table__small-text">01</span>
					<span class="table__text">Treats both addiction & mental health</span>
					<span class="table__icon">
						<img src="@i/icons/check.svg" width="24" height="24" alt="check">
					</span>
					<span class="table__icon">
						<img src="@i/icons/lock.svg" width="24" height="24" alt="lock">
					</span>
				</div>
				<div class="table__row">
					<span class="table__small-text">02</span>
					<span class="table__text">Day & evening scheduling</span>
					<span class="table__icon">
						<img src="@i/icons/check.svg" width="24" height="24" alt="check">
					</span>
					<span class="table__icon">
						<img src="@i/icons/lock.svg" width="24" height="24" alt="lock">
					</span>
				</div>
				<div class="table__row">
					<span class="table__small-text">03</span>
					<span class="table__text">Day & evening scheduling</span>
					<span class="table__icon">
						<img src="@i/icons/check.svg" width="24" height="24" alt="check">
					</span>
					<span class="table__icon">
						<img src="@i/icons/lock.svg" width="24" height="24" alt="lock">
					</span>
				</div>
			</div>
		</div>
	</div>
</section>