<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/comparison/comparison.scss' />


<section class="comparison _space-section">
	<div class="comparison__container">
		<div class="comparison__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Comparison</span>
				</div>
				<h2 class="title">Treatment Centers <br> <span>Are Not Equal</span></h2>
				<p>Here's how RD stands out with personalized care, real <br> results, and support you can feel.</p>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Feature</th>
						<th>Our Rehab</th>
						<th>Others</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>01</td>
						<td>Treats both addiction & mental health</td>
						<td><span class="check">✔</span></td>
						<td><span class="lock">🔒</span></td>
					</tr>
					<tr>
						<td>02</td>
						<td>Day & evening scheduling</td>
						<td><span class="check">✔</span></td>
						<td><span class="lock">🔒</span></td>
					</tr>
					<tr>
						<td>03</td>
						<td>Personalized care plans</td>
						<td><span class="check">✔</span></td>
						<td><span class="lock">🔒</span></td>
					</tr>
					<tr>
						<td>04</td>
						<td>Comfortable, non-clinical setting</td>
						<td><span class="check">✔</span></td>
						<td><span class="lock">🔒</span></td>
					</tr>
					<tr>
						<td>05</td>
						<td>Insurance-friendly</td>
						<td><span class="check">✔</span></td>
						<td><span class="lock">🔒</span></td>
					</tr>
					<tr>
						<td>06</td>
						<td>Flexible outpatient model</td>
						<td><span class="check">✔</span></td>
						<td><span class="lock">🔒</span></td>
					</tr>
					<tr>
						<td>07</td>
						<td>Focus on long-term results</td>
						<td><span class="check">✔</span></td>
						<td><span class="lock">🔒</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>