<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/comparison/comparison.scss' />


<section class="comparison _space-section">
	<div class="comparison__container">
		<div class="comparison__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Comparison</span>
				</div>
				<h2 class="title">Treatment Centers <br> <span>Are Not Equal</span></h2>
				<p>Here's how RD stands out with personalized care, real <br> results, and support you can feel.</p>
			</div>
			<div class="table">
				<div class="table__row">
					<span></span>
					<span>Feature</span>
					<span>Our Rehab</span>
					<span>Others</span>
				</div>
				<div class="table__row">
					<span class="table__number">01</span>
					<span class="table__text">Treats both addiction & mental health</span>
					<span>✔</span>
					<span>🔒</span>
				</div>
				<div class="table__row">
					<span class="table__number">02</span>
					<span class="table__text">Day & evening scheduling</span>
					<span>✔</span>
					<span>🔒</span>
				</div>
			</div>
		</div>
	</div>
</section>