<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/comparison/comparison.scss' />


<section class="comparison">
	<div class="comparison__container">
		<div class="comparison__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Comparison</span>
				</div>
				<h2 class="title">What do clients <br> <span>say about us</span></h2>
				<p>We’re proud to help people transform their lives — with care that’s flexible, personal, and proven to work.</p>
			</div>
		</div>
	</div>
</section>