.comparison {
	// .comparison__container

	&__container {
	}

	// .comparison__body

	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(56);
		@media (max-width: $mobile) {
			gap: toRem(40);
		}
	}
}
.table {
	border-radius: var(--main-border-radius);
	border: toRem(1) solid rgba(0, 0, 0, 0.05);
	background: var(--light-color-700);
	padding: toRem(24);
	@media (max-width: $mobile) {
		padding: toRem(16);
	}
	// .table__row

	&__row {
		display: grid;
		grid-template-columns: toRem(20) 1fr toRem(200) toRem(70);
		gap: toRem(24);
		align-items: center;
		&:not(:first-child) {
			padding-block: toRem(18);
			// min-height: toRem(10);
		}
		&:first-child {
			border-bottom: none !important;
		}
		&:not(:last-child) {
			border-bottom: toRem(1) solid rgba(0, 0, 0, 0.1);
		}
		span {
			&:nth-child(3),
			&:nth-child(4) {
				text-align: center;
			}
		}
		@media (max-width: $mobile) {
			gap: toRem(8);
			grid-template-columns: toRem(20) 1fr toRem(60) toRem(60);
		}
	}

	&__small-text {
		font-size: toRem(14);
		color: var(--primary-text-light-color-400);
		text-align: center;
		@media (max-width: $mobile) {
			font-size: toRem(12);
		}
		// .table__small-text_dark

		&_dark {
			color: black;
		}
	}

	// .table__text

	&__text {
		font-size: toRem(18);
		line-height: 1.3;
		@media (max-width: $mobile) {
			font-size: toRem(14);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(12);
		}
	}
	&__icon {
		width: toRem(24);
		height: toRem(24);
		justify-self: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@media (max-width: $mobile) {
			width: toRem(17);
			height: toRem(17);
		}
	}
}
