<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/comparison/comparison.scss' />


<section class="comparison">
	<div class="comparison__container">
		<div class="comparison__body">
			<div class="content content_center">
				<div class="label-text">
					<span>Comparison</span>
				</div>
				<h2 class="title">Treatment Centers <br> <span>Are Not Equal</span></h2>
				<p>Here's how RD stands out with personalized care, real results, and support you can feel.</p>
			</div>
		</div>
	</div>
</section>