<link rel="stylesheet" href="@c/modal/modal.scss">

<div class="modal" id="modal-planning" aria-hidden="true" role="dialog">
	<div class="modal__overlay" tabindex="-1">
		<div class="modal__body">
			<div class="modal__content">
				<div class="planning-block__swiper-body">
					<div class="planning-block__slider swiper" data-swiper-grab data-swiper-planning>
						<div class="swiper-fractions"></div>
						<div class="planning-block__slider-wrapper swiper-wrapper">
							<div class="planning-block__slide slide-planning swiper-slide">
								<div class="slide-planning__image-container">
									<div class="slide-planning__image ibg ibg_contain">
										<img src="@i/planning/1-room/01/image.png" width="333" height="412" alt="image">
									</div>
									<div class="slide-planning__info">
										<i>
											<img src="@i/icons/radix.svg" width="16" height="16" alt="radix">
										</i>
										<span>43м <sup>2</sup></span>
									</div>
								</div>
								<div class="slide-planning__bottom">
									<a class="slide-planning__detail button button_transparent-var2" href="@i/planning/1-room/01/document.txt" download="document.txt">Деталі планування</a>
									<button class="slide-planning__btn button button button_circle" type="button" data-modal-close>
										<i class="_icon-close"></i>
									</button>
								</div>
							</div>
							<div class="planning-block__slide slide-planning swiper-slide">
								<div class="slide-planning__image-container">
									<div class="slide-planning__image ibg ibg_contain">
										<img src="@i/planning/1-room/02/image.png" width="333" height="412" alt="image">
									</div>
									<div class="slide-planning__info">
										<i>
											<img src="@i/icons/radix.svg" width="16" height="16" alt="radix">
										</i>
										<span>23м <sup>2</sup></span>
									</div>

								</div>
								<div class="slide-planning__bottom">
									<a class="slide-planning__detail button button_transparent-var2" href="@i/planning/1-room/02/document.txt" download="document.txt">Деталі планування</a>
									<button class="slide-planning__btn button button button_circle" data-modal-close type="button">
										<i class="_icon-close"></i>
									</button>
								</div>
							</div>
							<div class="planning-block__slide slide-planning swiper-slide">
								<div class="slide-planning__image-container">
									<div class="slide-planning__image ibg ibg_contain">
										<img src="@i/planning/1-room/03/image.png" width="333" height="412" alt="image">
									</div>
									<div class="slide-planning__info">
										<i>
											<img src="@i/icons/radix.svg" width="16" height="16" alt="radix">
										</i>
										<span>83м <sup>2</sup></span>
									</div>
								</div>
								<div class="slide-planning__bottom">
									<a class="slide-planning__detail button button_transparent-var2" href="@i/planning/1-room/03/document.txt" download="document.txt">Деталі планування</a>
									<button class="slide-planning__btn button button_circle" aria-label="close modal planning" data-modal-close type="button">
										<i class="_icon-close"></i>
									</button>
								</div>
							</div>
							<div class="planning-block__slide slide-planning swiper-slide">
								<div class="slide-planning__image-container">
									<div class="slide-planning__image ibg ibg_contain">
										<img src="@i/planning/1-room/04/image.png" width="333" height="412" alt="image">
									</div>
									<div class="slide-planning__info">
										<i>
											<img src="@i/icons/radix.svg" width="16" height="16" alt="radix">
										</i>
										<span>93м <sup>2</sup></span>
									</div>
								</div>
								<div class="slide-planning__bottom">
									<a class="slide-planning__detail button button_transparent-var2" href="@i/planning/1-room/04/document.txt" download="document.txt">Деталі планування</a>
									<button class="slide-planning__btn button button_circle" aria-label="close modal planning" data-modal-close type="button">
										<i class="_icon-close"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="swiper-navigation swiper-navigation_light">
							<button class="swiper-navigation__btn swiper-navigation__btn_prev _icon-chevron" data-prev-slide type="button" aria-label="Попередній слайд з плануванням проекту"></button>
							<button class="swiper-navigation__btn swiper-navigation__btn_next _icon-chevron" data-next-slide type="button" aria-label="Наступний слайд з плануванням проекту"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>