input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form {
	// .form__row

	&__row {
	}

	// .form__label

	&__label {
	}

	// .form__input-wrapper

	&__input-wrapper {
	}
}
.input {
	width: 100%;
}
