<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/reviews/reviews.scss' />

<div class="reviews _space-section">
	<div class="reviews__container">
		<div class="content content_center">
			<div class="label-text">
				<span>Reviews</span>
			</div>
			<h2 class="title">What do clients <br> <span>say about us</span></h2>
			<p>We’re proud to help people transform their lives — with care that’s flexible, personal, and proven to work.</p>
		</div>
	</div>
	<div class="reviews__cards">
		<div class="card-review">
			<div class="card-review__header">
				<div class="card-review__profile profile-review">
					<div class="profile-review__avatar">
						<img src="@i/reviews/avatar.jpg" width="48" height="48" alt="Taylor G">
					</div>
					<div class="profile-review__body">
						<span class="profile-review__name">Taylor G.</span>
						<span class="profile-review__profession">PHP client</span>
					</div>
				</div>
				<div class="rating">
					<div class="rating__item">
						<img src="@i/icons/star.svg" width="15" height="15" alt="star">
					</div>
					<div class="rating__item">
						<img src="@i/icons/star.svg" width="15" height="15" alt="star">
					</div>
					<div class="rating__item">
						<img src="@i/icons/star.svg" width="15" height="15" alt="star">
					</div>
					<div class="rating__item">
						<img src="@i/icons/star.svg" width="15" height="15" alt="star">
					</div>
					<div class="rating__item">
						<img src="@i/icons/star.svg" width="15" height="15" alt="star">
					</div>
				</div>
			</div>
			<blockquote class="card-review__quote">“I was nervous at first, but the staff made me feel at home. Their IOP helped me rebuild my routine without falling behind at work.”</blockquote>
		</div>
	</div>
</div>