<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/reviews/reviews.scss' />

<div class="reviews _space-section">
	<div class="reviews__container">
		<div class="content content_center">
			<div class="label-text">
				<span>Reviews</span>
			</div>
			<h2 class="title">What do clients <br> <span>say about us</span></h2>
			<p>We’re proud to help people transform their lives — with care that’s flexible, personal, and proven to work.</p>
		</div>
		<div class="reviews__cards">
			<div class="card-review">
				<div class="card-review__header">
					<div class="card-review__profile profile-review">
						<div class="profile-review__avatar">
							<img src="@i/reviews/avatar.jpg" width="48" height="48" alt="">
						</div>
						<div class="profile-review__body">
							<span class="profile-review__name"></span>
							<span class="profile-review__profession"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>