<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/reviews/reviews.scss' />

<div class="reviews _space-section">
	<div class="reviews__container">
		<div class="content content_center">
			<div class="label-text">
				<span>Reviews</span>
			</div>
			<h2 class="title">What do clients <br> <span>say about us</span></h2>
			<p>We’re proud to help people transform their lives — with care that’s flexible, personal, and proven to work.</p>
		</div>
		<div class="reviews__cards">
			<div class="card-review"></div>
		</div>
	</div>
</div>