.footer {
	padding-block-start: toRem(85);
	padding-block-end: toRem(22);
	background-color: var(--dark-bg-color);
	.logo-text {
		&:not(:last-child) {
			margin-block-end: toRem(12);
		}
	}
	@media (max-width: $mobile) {
		padding-block-start: toRem(50);
		padding-block-end: toRem(26);
	}

	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 110, 64, 0, $containerWidth, 375);
	}

	// .footer__main

	// .footer__navigation

	&__navigation {
		max-inline-size: toRem(235);
		margin-inline: auto;
		&:not(:last-child) {
			margin-bottom: toRem(44);
			@media (max-width: $mobile) {
				margin-bottom: toRem(64);
			}
		}
	}

	// .footer__list

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(12) toRem(24);
	}

	// .footer__link

	&__link {
		color: white;
		font-weight: 500;
		font-size: toRem(18);
	}

	// .footer__bottom

	// .footer__copy

	&__copy {
		color: rgba(255, 255, 255, 0.6);
		text-align: center;
		font-size: toRem(14);
		@media (max-width: $mobileSmall) {
			font-size: toRem(12);
		}
	}

	// .footer__item-link
}
