<link rel="stylesheet" href="@c/footer/footer.scss">

<footer class="footer">
	<div class="footer__container">
		<div class="footer__top">
			<div class="content content_white">
				<div class="label-text label-text_dark">
					<span>Let’s start</span>
				</div>
				<h2 class="title">Let’s Make Your Recovery Real Starting Today</h2>
				<p>Whether you’re ready to begin or just exploring options, we’re here to help — with no pressure, no judgment, and full privacy.</p>
				<include src="@c/UI/button/_button-decor.html" locals='{
						"class": "button  button_decor",
						"text": "Verify Insurance",
						"icon": "@i/icons/heart.svg",
						"alt": "heart"
					}'>
				</include>
			</div>
		</div>
		<div class="footer__main">
			<nav class="footer__navigation">
				<ul class="footer__list">
					<li><a href="#about-company" class="footer__link _hover-link">Про компанію</a></li>
					<li><a href="projects.html" class="footer__link _hover-link">Проекти</a></li>
				</ul>
				<ul class="footer__list">
					<li><a href="#pricing" class="footer__link _hover-link">Умови</a></li>
					<li><a href="#planning" class="footer__link _hover-link">Планування</a></li>
				</ul>
				<ul class="footer__list">
					<li><a href="#investment" class="footer__link _hover-link">Інвестування</a></li>
					<li><a href="#faq" class="footer__link _hover-link">Питання</a></li>
				</ul>
			</nav>
			<div class="contacts">
				<h3 class="contacts__main-title">Контактні дані</h3>
				<div class="contacts__block">
					<h4 class="contacts__title">Телефон</h4>
					<a class="contacts__value _hover-link" href="tel:380507777777">+380507777777</a>
				</div>
				<div class="contacts__block">
					<h5 class="contacts__title">Адреса</h5>
					<address class="contacts__value">82 Amerige St. <br> Poughkeepsie, NY 12603</address>
				</div>
			</div>
		</div>
		<img class="logo-text" src="@i/logo-text.svg" alt="Kvartal Development" width="1240" height="122">
		<p class="footer__copy">2025 © 2025 RD Outpatient Rehab | All rights reserved</p>
	</div>
</footer>