<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/hero/hero.scss' />

<section class="hero">
	<div class="hero__container">
		<div class="hero__content">
			<div class="hero__body">
				<div class="content content_left">
					<div class="label-text">
						<span>Addiction & mental health recovery</span>
					</div>
					<h1 class="title title_main">Break Free From Addiction.<span>While Staying Connected to Life</span></h1>
					<p>Flexible outpatient rehab in Richardson, TX that works with your schedule and your insurance.</p>
				</div>
				<div class="hero__bottom">
					<div class="advantages">
						<div class="advantages__icons">
							<img src="@i/icons/joint-commision-logo.png" width="36" height="36" alt="joint commision logo">
							<img src="@i/icons/hippa-comliant.png" width="36" height="36" alt="hippa comliant">
						</div>
						<ul class="advantages__items">
							<li class="advantages__item">24/7 Admissions</diliv>
							<li class="advantages__item">All Insurances Accepted</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="image ibg">
				<img src="@i/image01.jpg" fetchpriority="high" alt="image">
			</div>
		</div>
	</div>
</section>