<!-- ====== Imports ====== -->
<link rel='stylesheet' href='@c/partners/partners.scss' />


<div class="partners _space-section _space-section_small">
	<div class="partners__container">
		<div class="partners__body">
			<h2 class="partners__title">We Accept Most Insurance Plans:</h2>
			<ul class="partners__list">
				<li class="partners__item">
					<img src="@i/partners/aetna.svg" width="125" height="44" alt="aetna">
				</li>
				<li class="partners__item">
					<img src="@i/partners/cigna.svg" width="125" height="44" alt="cigna">
				</li>
				<li class="partners__item">
					<img src="@i/partners/united-health-group.svg" width="125" height="44" alt="united health group">
				</li>
				<li class="partners__item">
					<img src="@i/partners/blue-cross.svg" width="125" height="44" alt="blue cross">
				</li>
				<li class="partners__item">
					<img src="@i/partners/magellan-health.svg" width="125" height="44" alt="magellan health">
				</li>
			</ul>
			<p class="partners__text">We'll help you verify coverage in minutes — 100% confidential.</p>
		</div>
	</div>
</div>