:root {
	--ff-icons: "icons";
	--font-primary: "Satoshi";

	--primary-text-color: rgba(0, 0, 0, 0.8);
	--dark-color: #141b2f;
	--dark-bg-color: #141b2f;
	--dark-bg-color-300: #2a3658;

	--main-bg-color: #ecfaff;
	--brand-color: #cda46a;

	--border-color-200: #5790e133;
	--border-color-300: #5790e14d;

	--hover-color-link: #fccf77;
	--hover-secondary: #fde4c1;
	--hover-btn-color: #c29351;

	--small-border-radius: 8px;
	--middle-border-radius: 12px;
	--main-border-radius: 16px;
	--big-border-radius: 24px;

	--pr-color-1: #cda46a;
	--pr-color-2: #2a3658;
	--pr-color-3: #cda46a;
	--pr-color-4: #2a3658;
}
